

/*
.title {
	color: #4b8b2a;
	background-color: pink;	

}




.title {
	color: #4b8b2a;

}



*/




.title {
	color: #4b8b2a;
}


.test {
color: orange;
}



hr {




}

.container {
width: 60%;
margin-left: 50px;
font-family: sans-serif;
background-color: white;
}



.detail-img {
	width: 700px;
	height: 400px;
}


